<footer>
  <nav class="round">
    <%= link_to "About", main_app.about_path %> |
    <%= link_to "Contact", main_app.contact_path %> |
    <%= link_to "Help", main_app.help_path %> |
  </nav>
</footer>