<a href="https://twitter.com/PortlaoiseGAA" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PortlaoiseGAA</a><br /><br />
<div class="fb-like-box" data-href="https://www.facebook.com/pages/Portlaoise-GAA-Club/108542145841275" data-width="auto" data-show-faces="true" data-stream="true" data-header="true"></div><br />

<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script><br /><br />
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
    new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 300,
        height: 300,
        theme: {
            shell: {
                background: '#333333',
                color: '#ffffff'
            },
            tweets: {
                background: '#000000',
                color: '#ffffff',
                links: '#4aed05'
            }
        },
        features: {
            scrollbar: false,
            loop: false,
            live: false,
            behavior: 'all'
        }
    }).render().setUser('PortlaoiseGAA').start();
</script>